include ../mixins/mixin.pug

ng-container(*ngIf='$any( data )?.valueType; else elseBlock;')
	.layout-row.layout-gap-8
		ng-container([ngSwitch]='$any( data ).valueType')
			ng-container(*ngSwitchCase='VALUE_TYPE.STATIC')
				cub-form-field.flex(
					[label]='innerLabel',
					[size]='size',
					[variant]='variant',
					[displayErrorMode]='displayErrorMode',
					[hideRequiredMarker]='hideRequiredMarker',
					[focusing]='isPopupOpened',
					[disabled]='disabled',
					[control]='formControl',
					(container.click)='onClick( $any( data ).data )',
					(container.keydown)='onKeydown( $event, $any( data ).data )',
					(container.focus)='onFocus()',
					(container.blur)=`
						onBlur();
						formControl.markAsTouched();
					`)
					ng-container(
						cubFormFieldPlaceholder,
						*ngIf=`
							$any( data ).valueType === VALUE_TYPE.STATIC
							&& !$any( data ).data`)
						ng-container(*ngIf='readonly; else elseBlock;')
							span
								| {{ placeholder }}
						ng-template(#elseBlock)
							.layout-row.layout-gap-8.layout-align-start-center
								cub-icon(
									name='plus-circle',
									[size]=`
										formField?.isSmallSize
											? "16px"
											: "20px"
									`)
								span
									| {{ "FIELD.INPUT.LABEL.ADD_ATTACHMENT" | translate }}
					ng-container(
						cubFormFieldPrefix)
						button(
							cubBasicButton,
							tabindex='-1',
							icon='plus-circle',
							*ngIf=`$any( data ).data
								&& !disabled
								&& !readonly`,
							[iconSize]=`
								formField?.isSmallSize
									? "16px"
									: "20px"
							`,
							(click)='pickFile()')
					ng-container(
						cubFormFieldSuffix)
						button(
							cubBasicButton,
							tabindex='-1',
							icon='expand',
							*ngIf=`$any( data ).data
								&& !disabled
								&& !readonly`,
							[iconSize]=`
								formField?.isSmallSize
									? "16px"
									: "20px"
							`,
							(click)='manageFiles( $any( data ).data )')
					ng-container(
						cubFormFieldError,
						*ngIf=`errors?.required`)
						| {{ "FIELD.INPUT.MESSAGE.PLEASE_TYPE_VALUE" | translate }}
					.layout-row.layout-gap-6.h-20
						cub-file.clickable(
							showNameOnTooltip,
							*ngFor=`
								let file of $any( data ).data;
								index as idx;
								trackByID
							`,
							[file]='file',
							(click)='previewFile( idx )')
			ng-container(*ngSwitchCase='VALUE_TYPE.DYNAMIC')
				+formField
					+dynamicValue()(
						readonly,
						(click)='plusButton.open()')
			ng-container(*ngSwitchCase='VALUE_TYPE.EMPTY')
				+formField
					+emptyValue
		+valueTypeSwitch
ng-template(#elseBlock)
	cub-form-field(
		[label]='innerLabel',
		[size]='size',
		[variant]='variant',
		[displayErrorMode]='displayErrorMode',
		[hideRequiredMarker]='hideRequiredMarker',
		[focusing]='isPopupOpened',
		[disabled]='disabled',
		[control]='formControl',
		(container.click)='onClick( data )',
		(container.keydown)='onKeydown( $event, data )',
		(container.focus)='onFocus()',
		(container.blur)=`
			onBlur();
			formControl.markAsTouched();
		`)
		.layout-row.layout-gap-6.h-20
			cub-file.clickable(
				showNameOnTooltip,
				*ngFor=`
					let file of data;
					index as idx;
					trackByID
				`,
				[file]='file',
				(click)='previewFile( idx )')
		ng-container(
			cubFormFieldPlaceholder,
			*ngIf='!data')
			ng-container(*ngIf='readonly; else elseBlock;')
				span
					| {{ placeholder }}
			ng-template(#elseBlock)
				.layout-row.layout-gap-8.layout-align-start-center
					cub-icon(
						name='plus-circle',
						[size]=`
							formField?.isSmallSize
								? "16px"
								: "20px"
						`)
					span
						| {{ "FIELD.INPUT.LABEL.ADD_ATTACHMENT" | translate }}
		ng-container(
			cubFormFieldPrefix,
			*ngIf='formField?.isFocused')
			button(
				cubBasicButton,
				tabindex='-1',
				icon='plus-circle',
				*ngIf=`data
					&& !disabled
					&& !readonly`,
				[iconSize]=`
					formField?.isSmallSize
						? "16px"
						: "20px"
				`,
				(click)='pickFile()')
		ng-container(
			cubFormFieldSuffix,
			*ngIf='formField?.isFocused')
			button(
				cubBasicButton,
				tabindex='-1',
				icon='expand',
				*ngIf=`data
					&& !disabled
					&& !readonly`,
				[iconSize]=`
					formField?.isSmallSize
						? "16px"
						: "20px"
				`,
				(click)='manageFiles( data )')
		ng-container(
			cubFormFieldError,
			*ngIf='errors?.required')
			| {{ "FIELD.INPUT.MESSAGE.PLEASE_TYPE_VALUE" | translate }}

