div(wgcDialogHeader)
	.flex.mr-15
		h1
			| {{ "ACCOUNT.SETTINGS.LABEL.CHANGE_PASSWORD" | translate }}
	button.mr-15(
		wgcButton,
		form='changePasswordForm',
		type='submit',
		color='primary',
		[disabled]='changePasswordForm?.pristine || changePasswordForm?.invalid || isSubmitting',
		[loading]='isSubmitting')
		| {{ "ACCOUNT.SETTINGS.LABEL.SAVE_CHANGES" | translate }}
	button(
		wgcButton,
		icon='close',
		[wgcTooltip]='"ACCOUNT.SETTINGS.LABEL.CLOSE" | translate',
		(click)='dialogRef?.close()')
.pb-25(wgcDialogContent)
	h4.mb-10
		| {{ "ACCOUNT.SETTINGS.LABEL.PASSWORD" | translate }}
	form#changePasswordForm(autocomplete='off', [formGroup]='changePasswordForm', (submit)='save()')
		wgc-form-field.mb-10(togglePasswordVisibility, [label]='"ACCOUNT.SETTINGS.LABEL.CURRENT_PASSWORD" | translate')
			input(
				wgcFormFieldInput,
				type='password',
				autocomplete='new-password',
				[placeholder]='"ACCOUNT.SETTINGS.PLACEHOLDER.TYPE_PASSWORD" | translate',
				[disableControl]='isSubmitting',
				[formControl]='changePasswordForm?.controls?.currentPassword',
				[(ngModel)]='currentPassword')
		wgc-form-field.mb-10(
			togglePasswordVisibility,
			checkWeekPassword,
			[label]='"ACCOUNT.SETTINGS.LABEL.NEW_PASSWORD" | translate')
			input(
				wgcFormFieldInput,
				type='password',
				autocomplete='new-password',
				[placeholder]='"ACCOUNT.SETTINGS.PLACEHOLDER.TYPE_PASSWORD" | translate',
				[disableControl]='isSubmitting',
				[formControl]='changePasswordForm?.controls?.newPassword',
				[(ngModel)]='newPassword')
		wgc-form-field(togglePasswordVisibility, [label]='"ACCOUNT.SETTINGS.LABEL.CONFIRM_NEW_PASSWORD" | translate')
			input(
				wgcFormFieldInput,
				type='password',
				autocomplete='new-password',
				[placeholder]='"ACCOUNT.SETTINGS.PLACEHOLDER.TYPE_PASSWORD" | translate',
				[disableControl]='isSubmitting',
				[formControl]='changePasswordForm?.controls?.confirmNewPassword',
				[(ngModel)]='confirmNewPassword')
