include mixin/mixin.pug

+checkWeekPassword

mixin content
	.layout.layout-column(
		[ngStyle]=`{
			'max-width.px'
			: (step == RESET_PASSWORD_STEP?.otp)
			? 404 : '376' }`)
		.layout-column.layout-align-start-center.layout-gap-20.full-width
			ng-container([ngSwitch]='step')
				ng-container(*ngSwitchCase='RESET_PASSWORD_STEP?.email')
					h2
						| {{ "AUTH.MESSAGE.FORGOT_PASSWORD" | translate }}
					form.layout-column.layout-gap-16.full-width(
						autocomplete='off',
						[formGroup]='resetPasswordForm',
						(submit)='resetPassword()')
						cub-form-field(
							hideRequiredMarker,
							[label]='"AUTH.LABEL.EMAIL" | translate')
							input(
								cubFormFieldInput,
								autoFocusOn,
								required,
								type='email',
								[placeholder]='"AUTH.PLACEHOLDER.TYPE_EMAIL" | translate',
								[formControl]='resetPasswordForm?.controls?.email',
								[(valueControl)]='account.email',
								(valueControlChange)='isEmailInvalid = false')
							div(
								cubFormFieldError,
								*ngIf='isEmailInvalid')
								| {{ "AUTH.MESSAGE.INVALID_EMAIL" | translate }}
						button.full-width(
							cubButton='primary',
							type='submit',
							size='large',
							[disabled]='resetPasswordForm?.invalid || isSubmitting || isEmailInvalid',
							[loading]='isSubmitting')
							| {{ "AUTH.LABEL.RESET_PASSWORD" | translate }}
					.layout-column.text-center
						a.text-semibold((click)='stateNavigate([ SIGN_IN_PATH ])')
							| {{ "AUTH.LABEL.BACK_TO_SIGN_IN" | translate }}
				ng-container(*ngSwitchCase='RESET_PASSWORD_STEP?.otp')
					+otp('RESET_PASSWORD_STEP.email')
				ng-container(*ngSwitchCase='RESET_PASSWORD_STEP?.submit')
					h2
						| {{ "AUTH.MESSAGE.RESET_PASSWORD" | translate }}
					form.layout-column.layout-gap-16.full-width(
						autocomplete='off',
						[formGroup]='resetPasswordForm',
						(submit)='submitAccountInfo()')
						+passwordFormFieldInput(
							'PASSWORD',
							'resetPasswordForm?.controls?.newPassword',
							'true')
						+confirmPasswordFormFieldInput(
							'CONFIRM_PASSWORD',
							'resetPasswordForm?.controls?.confirmNewPassword')
						button.full-width(
							cubButton='primary',
							type='submit',
							size='large',
							[disabled]='resetPasswordForm?.invalid || isSubmitting',
							[loading]='isSubmitting')
							| {{ "AUTH.LABEL.DONE" | translate }}

include patterns/auth.pug
